<style>
.angular-google-map-container {
	height: 400px;
}
</style>
<div class="row">
	<table>
		<tbody>
			<tr>
				<td>
					{{id}}
				</td>
				<td>
				 {{camp.email}}
				 </td>
				 <td>{{camp.location}}</td>
				 <td>{{camp.count}}</td>
				 
			</tr>
		</tbody>
	</table>
	
	<div>
		<label for="email">Email</label><input id="email" type="text" ng-model="camp.email"/>
	</div>
	<div>
		<label for="season">Season</label>
		<!-- <select id="season" ng-model="camp.season.id" ng-options="season.id as season.name for season in seasons"> -->
		<select id="season" ng-model="camp.season.id" ng-options="season.id as season.name for season in seasons">
    		<!-- <option value="">Select Account</option> -->
		</select>
	</div>
	
	<div>
		<label for="count">Count</label><input id="count" type="text" ng-model="camp.count"/>
	</div>
	<div>
		<label>What to bring:</label>
		<ul ng-repeat="item in camp.season.items">
			<li>{{item.name}}</li>
		</ul>
	</div>
	
	<div class="row">
  	<label>People Going</label>
	
	<ui-select multiple ng-model="campPersons.selectedPersons" theme="select2"  style="width: 800px;">
	  <ui-select-match placeholder="Select person...">{{$item.name}} </ui-select-match>
	  <ui-select-choices repeat="person in personList | propsFilter: {name: $select.search}">
	    <div ng-bind-html="person.name | highlight: $select.search"></div>
	    <small>
	      email: {{person.email}}
	    </small>
	  </ui-select-choices>
	</ui-select>
	
</div>
	
	<!-- <div>
		<label for="locationOrigin">Location Origin</label><input id="locationOrigin" type="text" ng-model="camp.locationOrigin"/>
	</div>
	<div>
		<label for="locationDestination">Location Destination</label><input id="locationDestination" type="text" ng-model="camp.locationDestination"/>
	</div> -->
	
	<div class="panel panel-default">
	<div class="panel-body">
		<google-map control="map.control" center="map.center" zoom="map.zoom">
		<marker coords="marker.center"></marker> </google-map>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="origin" class="col-sm-2 control-label">Origin</label>
				<div class="col-sm-8">
					<input type="text" id="origin" class="form-control"
						ng-model="camp.locationOrigin" />
				</div>
			</div>
			<div class="form-group">
				<label for="destination" class="col-sm-2 control-label">Destination</label>
				<div class="col-sm-8">
					<input type="text" id="destination" class="form-control"
						ng-model="camp.locationDestination" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-8">
					<button class="btn btn-primary" ng-click="getDirections()">Get
						Directions</button>
				</div>
			</div>
		</form>

		<div id="directionsList" ng-show="directions.showList"
			class="panel panel-primary"></div>
	</div>
</div> 
	
	<div>
		<button class="btn btn-success single-message" ng-click="update()" >Save</button>
	</div>
</div>



