<div class="form-group">
	<label for="headCount">Head Count</label>

	<div class="row form-group">
		<input type="text" class="form-control" name="count"
			ng-model="formData.count">
	</div>
	<div class="row form-group">
		<a ui-sref="start.main" class="btn btn-info"> Start Over</a>
		<a ui-sref="form.location" class="btn  btn-info"> <i
			class="glyphicon glyphicon-circle-arrow-left"></i>Previous Section
		</a> 
		<button ng-click="saveCamp()" class="btn btn-success single-message">Submit</button>
	</div>

	
</div>