
<div class="container">
	
	<div class="row">
		<label for="seasonName">Season:</label><input id="seasonName" type="text" ng-model="season.name"/>
	</div>

<div class="row">
  	<label>What to bring for this season</label>
	
	<ui-select multiple ng-model="seasonItems.selectedItems" theme="select2"  style="width: 800px;">
	  <ui-select-match placeholder="Select item...">{{$item.name}} </ui-select-match>
	  <ui-select-choices repeat="item in itemList | propsFilter: {name: $select.search}">
	    <div ng-bind-html="item.name | highlight: $select.search"></div>
	    <small>
	      description: {{item.description}}
	    </small>
	  </ui-select-choices>
	</ui-select>
	
</div>
	
	<div class="row">
		<button class="btn btn-success single-message" ng-click="updateItemList()">Save Items</button>
	</div>
</div>



