
<div class="text-center">
	<a ui-sref-active="active" ui-sref="form.email"><span>1</span>Create
		Camp</a> <a ui-sref-active="active" ui-sref="camp.list"><span>3</span>List
		Camps</a> <a ui-sref-active="active" ui-sref="season.list"><span>4</span>List
		Seasons</a>
</div>

<div class="row">
	<hr>
	
	<div>
		<label for="seasonName">Season:</label><input id="seasonName" type="text" ng-model="season.name"/><button ng-click="update()" >Save</button>
	</div>
	
	<hr>
	
  	<h3>What to bring for this season</h3>
  	<div>
		<label>What to bring:</label>
		<ul ng-repeat="item in season.items">
			<li>{{item.name}}</li>
		</ul>
	</div>
	
	<hr>
	
	<ui-select multiple ng-model="seasonItems.selectedItems" theme="select2"  style="width: 800px;">
	  <ui-select-match placeholder="Select item...">{{$item.name}} </ui-select-match>
	  <ui-select-choices repeat="item in itemList | propsFilter: {name: $select.search}">
	    <div ng-bind-html="item.name | highlight: $select.search"></div>
	    <small>
	      description: {{item.description}}
	    </small>
	  </ui-select-choices>
	</ui-select>
  	<div>{{people}}</div>
  	<p>Selected: {{seasonItems.selectedItems}}</p>
	<button ng-click="updateItemList()">Save Items</button>
</div>



